<div class="container  collapse" id="formdn">
    <h4>Đăng Nhập</h4>
    <form method="post" action="/DangNhap">
        <div class="form-group">
            <label for="user">Tên đăng nhập:</label>
            <input type="text" class="form-control" id="user" name="user[tendangnhap]" placeholder="Xin nhập tên đăng nhập">
        </div>
        <div class="form-group">
            <label for="pwd">Mật khẩu:</label>
            <input type="password" class="form-control" id="pwd" name="user[matkhau]" placeholder="Xin nhập mật khẩu">
        </div>
        <div class="checkbox">
            <label><input type="checkbox">Nhớ tên đăng nhập và mật khẩu</label>
        </div>
        <button type="submit" class="btn btn-default">Đăng nhập</button>
        {{#if loiDangNhap}}
        <div class="alert alert-danger" style="margin-top: 10px;">
            {{loiDangNhap}}
        </div>
        {{/if}}
    </form>
</div>
