<!DOCTYPE html>
<html lang="en">

<head>
    {{> khaibaocanban1}}
    <link rel="stylesheet" type="text/css" href="../css/{{cssfile}}.css" />
</head>

<body>
    {{> navbar}}
    {{> login}}
    {{> leftmenu}}
    {{> footer}}
</body>

</html>
