<h1>Tin Nóng Trong Tuần</h1>
<hr />
<div class="col-md-5 col-xs-6">

    <div class="thumbnail">
        <a href="/Blog/Topic1" target="_blank">
            <img src="../Images/Blog/top_1.jpg" alt="Topic1" style="width:100%">
            <div class="caption">
                  <p>
                  Bài viết mới  <br>
                  Người tạo : Thụy Miên <br>
                  Tình tiết mới vụ United Airlines ngược đãi bác sĩ gốc Việt
                  </p>
            </div>
        </a>
    </div>
</div>
  <div class="col-md-5 col-xs-6">
    <div class="thumbnail">
        <a href="/Blog/Topic2" target="_blank">
            <img src="../Images/Blog/top_2.2.jpg" alt="Topic2" style="width:100%">
            <div class="caption">
                  <p>
                  Bài viết mới  <br>

                Nikon ra mắt máy ảnh DSLR dùng lớp vỏ kim loại bóng mượt
                  </p>
            </div>
        </a>

    </div>
  </div>
