<h1>Dog</h1>
<hr />
<div>
    The domestic dog (Canis lupus familiaris or Canis familiaris) is a member of genus Canis (canines) that forms part of the wolf-like canids, and is the most widely abundant carnivore. The dog and the extant gray wolf are sister taxa, with modern wolves
    not closely related to the wolves that were first domesticated. The dog was the first domesticated species and has been selectively bred over millennia for various behaviors, sensory capabilities, and physical attributes. Their long association with
    humans has led dogs to be uniquely attuned to human behavior and they are able to thrive on a starch-rich diet that would be inadequate for other canid species. Dogs vary widely in shape, size and colours. Dogs perform many roles for people, such
    as hunting, herding, pulling loads, protection, assisting police and military, companionship and, more recently, aiding handicapped individuals. This influence on human society has given them the sobriquet "man's best friend".
</div>
<h2>Cat</h2>
<hr />
<div>
    The domestic cat (Latin: Felis catus) is a small, typically furry, carnivorous mammal. They are often called house cats when kept as indoor pets or simply cats when there is no need to distinguish them from other felids and felines. Cats are often valued
    by humans for companionship and for their ability to hunt vermin. There are more than 70 cat breeds, though different associations proclaim different numbers according to their standards. Cats are similar in anatomy to the other felids, with a strong
    flexible body, quick reflexes, sharp retractable claws, and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds too faint or too high in frequency for human ears, such as those made
    by mice and other small animals. They can see in near darkness. Like most other mammals, cats have poorer color vision and a better sense of smell than humans. Cats, despite being solitary hunters, are a social species and cat communication includes
    the use of a variety of vocalizations (mewing, purring, trilling, hissing, growling, and grunting), as well as cat pheromones and types of cat-specific body language. Cats have a high breeding rate. Under controlled breeding, they can be bred and
    shown as registered pedigree pets, a hobby known as cat fancy. Failure to control the breeding of pet cats by neutering, as well as the abandonment of former household pets, has resulted in large numbers of feral cats worldwide, requiring population
    control. In certain areas outside cats' native range, this has contributed, along with habitat destruction and other factors, to the extinction of many bird species. Cats have been known to extirpate a bird species within specific regions and may
    have contributed to the extinction of isolated island populations. Cats are thought to be primarily responsible for the extinction of 33 species of birds, and the presence of feral and free-ranging cats makes some otherwise suitable locations unsuitable
    for attempted species reintroduction. Since cats were venerated in ancient Egypt, they were commonly believed to have been domesticated there, but there may have been instances of domestication as early as the Neolithic from around 9,500 years ago
    (7,500 BC). A genetic study in 2007 concluded that domestic cats are descended from Near Eastern wildcats, having diverged around 8,000 BC in the Middle East. A 2016 study found that leopard cats were undergoing domestication independently in China
    around 5,500 BC, though this line of partially domesticated cats leaves no trace in the domesticated populations of today. As of a 2007 study, cats are the second most popular pet in the US by number of pets owned, behind freshwater fish. In a 2010
    study they were ranked the third most popular pet in the UK, after fish and dogs, with around 8 million being owned.
</div>
<h3>Mouse</h3>
<hr />
<div>
    A mouse (plural: mice) is a small rodent characteristically having a pointed snout, small rounded ears, a body-length scaly tail and a high breeding rate. The best known mouse species is the common house mouse (Mus musculus). It is also a popular pet.
    In some places, certain kinds of field mice are locally common. They are known to invade homes for food and shelter. Domestic mice sold as pets often differ substantially in size from the common house mouse. This is attributable both to breeding and
    to different conditions in the wild. The most well known strain, the white lab mouse, has more uniform traits that are appropriate to its use in research. The American white-footed mouse (Peromyscus leucopus) and the deer mouse (Peromyscus maniculatus),
    as well as other common species of mouse-like rodents around the world, also sometimes live in houses. These, however, are in other genera. Cats, wild dogs, foxes, birds of prey, snakes and even certain kinds of arthropods have been known to prey
    heavily upon mice. Nevertheless, because of its remarkable adaptability to almost any environment, the mouse is one of the most successful mammalian genera living on Earth today. Mice, in certain contexts, can be considered vermin which are a major
    source of crop damage, causing structural damage and spreading diseases through their parasites and feces. In North America, breathing dust that has come in contact with mouse excrement has been linked to hantavirus, which may lead to hantavirus pulmonary
    syndrome (HPS). Primarily nocturnal animals, mice compensate for their poor eyesight with a keen sense of hearing, and rely especially on their sense of smell to locate food and avoid predators. Mice build intricate burrows in the wild. These burrows
    typically have long entrances and are equipped with escape tunnels or routes. In at least one species, the architectural design of a burrow is a genetic trait.
</div>
