<div class="col-md-5">
    <div class="thumbnail">
        <a href="../Images/List/Hinh1.jpg" target="_blank">
            <img src="../Images/List/Hinh1.jpg" alt="Hinh1" style="width:100%">
            <div class="caption">
                <p>
                    Hình 1 <br> Người tạo : Vương Thiên Phú
                </p>
            </div>
        </a>
    </div>
    <div class="thumbnail">
        <a href="../Images/List/Hinh3.jpg" target="_blank">
            <img src="../Images/List/Hinh3.jpg" alt="Hinh3" style="width:100%">
            <div class="caption">
                <p>
                    Hình 3 <br> Người tạo : Vương Thiên Phú
                </p>
            </div>
        </a>
    </div>
    <div class="thumbnail">
        <a href="../Images/List/Hinh5.jpg" target="_blank">
            <img src="../Images/List/Hinh5.jpg" alt="Hinh5" style="width:100%">
            <div class="caption">
                <p>
                    Hình 5 <br> Người tạo : Phan Khánh Lâm
                </p>
            </div>
        </a>
    </div>
</div>
<div class="col-md-5">
    <div class="thumbnail">
        <a href="../Images/List/Hinh2.jpg" target="_blank">
            <img src="../Images/List/Hinh2.jpg" alt="Hinh2" style="width:100%">
            <div class="caption">
                <p>
                    Hình 2 <br> Người tạo : Phan Khánh Lâm
                </p>
            </div>
        </a>
    </div>
    <div class="thumbnail">
        <a href="../Images/List/Hinh4.jpg" target="_blank">
            <img src="../Images/List/Hinh4.jpg" alt="Hinh4" style="width:100%">
            <div class="caption">
                <p>
                    Hình 4 <br> Người tạo : Phan Khánh Lâm
                </p>
            </div>
        </a>
    </div>
</div>
