<h1>  Người viết : Thụy Miên <br>
  Tình tiết mới vụ United Airlines ngược đãi bác sĩ gốc Việt</h1>
<hr />
<img src="../Images/Blog/top_1.jpg" alt="topic1" style="width:100%"><br>
<div>
    Vụ Hãng hàng không United Airlines đối xử thô bạo đối với bác sĩ gốc Việt David Dao, 69 tuổi, tiếp tục thu hút sự chú ý của dư luận thế giới, nhất là khi xuất hiện thêm video quay cảnh trước khi hành khách này bị cưỡng chế khỏi máy bay, cho thấy rõ ràng
    hơn vụ việc. Trong lúc hãng này nỗ lực tìm cách vớt vát hình ảnh xấu xí của mình, đoàn luật sư đại diện bác sĩ David Dao đã có động thái pháp lý đầu tiên để khởi kiện United Airlines, theo Reuters. Cảnh sát dọa bỏ tù ông Dao <br> Đoạn video mới
    xuất hiện được nữ hành khách mang thai tên Joya Griffin Cummings dẫn theo con nhỏ quay trước khi các cảnh sát dùng vũ lực đối với ông Dao, theo Đài Fox News. Trong clip, bác sĩ Dao gọi điện thoại cho United Airlines trong lúc 3 cảnh sát hàng không
    đứng kế bên. “Tôi là bác sĩ. Tôi phải đi làm vào 8 giờ sáng mai (10.4)”, ông trình bày lý do để có thể tiếp tục được ở lại máy bay. Sau đó, ông tiếp tục nói rõ rằng mình sẽ không nhường ghế. Lúc này, một trong 3 cảnh sát hăm dọa sẽ dùng vũ lực để
    cưỡng chế ông rời máy bay nếu cần. “Cứ dùng vũ lực”, ông trả lời dứt khoát và nói thêm: “Tôi sẽ kiện United Airlines”. Bác sĩ Dao kiên quyết giữ vững quan điểm, ngay cả khi một cảnh sát đe dọa: “Ông có thể vào tù”. Sau khi nhấn mạnh: “Tôi sẵn sàng
    vào tù”, ông Dao liền bị khống chế. Hành khách gốc Việt đã bất tỉnh khi đầu của ông trúng vào tay vịn và bị lôi dọc theo lối đi. Chứng kiến toàn bộ sự việc từ hàng ghế phía sau, bà Cummings viết trên Facebook rằng việc dùng từ “giận dữ” hay “quá khích”
    như quy kết trước đó của Tổng giám đốc United Airlines Oscar Munoz để mô tả thái độ của vị hành khách này là không thể chấp nhận. “Ông ấy chưa bao giờ giơ tay giơ chân trước cảnh sát. Ông ấy cũng chẳng hề văng tục”, người khách đi cùng chuyến bay
    UA 3411 viết. <br> Trả lời trang tin Inside Edition, bà Cummings cho biết bà thật sự khó chịu khi nhìn thấy một người bị đối xử như thế. Và bà bắt đầu cảm thấy lo lắng cho an toàn của thai nhi cũng như đứa con mới 2 tuổi sau khi cảnh sát lũ lượt lên
    máy bay gây sức ép đối với ông Dao. Bà tự hỏi chuyện gì sẽ xảy ra nếu cảnh sát có mang vũ khí trong không gian nhỏ hẹp và tù túng như thế, theo Đài Fox News. Tờ The Chicago-Sun Times dẫn lời ông Alderman Mike Zalewski, Chủ tịch Ủy ban Hàng không của
    Hội đồng TP.Chicago, cảnh báo rằng cách xử lý quá kém trong vụ bác sĩ Dao có thể phá hủy chiến dịch vận động kéo dài hơn 1 năm qua nhằm trang bị vũ khí cho cảnh sát hàng không ở thành phố này. <br> Tổng thống Trump lên tiếng Trong lúc trả lời phỏng
    vấn tờ The Wall Street Journal ngày 12.4, Tổng thống Mỹ Donald Trump đã dùng từ “kinh khủng” để mô tả cảnh tượng bác sĩ Dao bị lôi xềnh xệch khỏi máy bay. Ông Trump cho rằng không nên giới hạn mức trần chi phí bồi thường cho các hãng máy bay khi cần
    điều đình với hành khách để đổi lấy ghế ngồi của họ trong các chuyến bay bán ra nhiều vé hơn số ghế. Theo tờ Chicago Tribune, mức đền bù tối đa cho việc nhường ghế là 1.350 USD/hành khách. Giữa lúc cơn phẫn nộ của dư luận chưa có dấu hiệu lắng dịu,
    Tổng giám đốc Oscar Munoz của United Airlines một lần nữa xin lỗi hành khách khi xuất hiện trên chương trình Good Morning America của Đài ABC ngày 12.4, xác nhận bác sĩ Dao không đáng bị đối xử như vậy và hứa hẹn chuyện này sẽ không tái diễn. Thế
    nhưng, đến thời điểm đó, ông Munoz vẫn chưa tiếp xúc riêng với ông Dao để xin lỗi một cách đàng hoàng, và một mực khẳng định mình không từ chức bất chấp áp lực kêu gọi từ nhiều người ở Mỹ, Trung Quốc, VN... <br> Về phần mình, dựa trên lý do thân chủ
    họ đối mặt với nguy cơ “bị thành kiến nghiêm trọng”, các luật sư Stephen Golan và Thomas Demetrio của ông Dao cùng ngày nộp đơn lên tòa án bang Illinois yêu cầu United Airlines và TP.Chicago, đơn vị chủ quản phi trường quốc tế O'Hare, phải bảo vệ
    mọi chứng cứ trên chuyến bay UA 3411. Điều này có nghĩa là họ yêu cầu giữ lại các đoạn video quay từ camera an ninh, từ hành khách trên máy bay, clip thu âm trong buồng lái, danh sách hành khách và phi hành đoàn, cũng như các tài liệu liên quan đến
    chuyến bay UA 3411, theo Reuters. Ông Paul Callan, luật sư về dân sự lẫn hình sự ở New York, nhận định bác sĩ Dao sẽ thắng lớn khi kiện United Airlines. <br>
    
</div>
